In [93]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet

from sklearn.metrics import mean_absolute_error, mean_squared_error

from joblib import  dump, load

CROSS VALIDATION (Train-Test Split)

In [38]:
def root_mean_square_error(y_test, model_predictions):
    """function to perform root mean squared error"""
    mse = mean_squared_error(y_test, model_predictions)
    return math.sqrt(mse)

In [3]:
# Read in the data set
df = pd.read_csv("Advertising.csv")

In [4]:
df.head(5)

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
# seperate X features and y label
X = df.drop("sales", axis=1)
y = df["sales"]

In [6]:
# perform a train test split of the new dataset
XTrain, XTest, yTrain, yTest = train_test_split(X, y, test_size=0.3, random_state=101)

In [7]:
# scaling the data
# create an instance of a feature scaler
# Do not scale the test data
scaler = StandardScaler()

In [8]:
# fit the scaler to the training X feature
scaler.fit(XTrain)

StandardScaler()

In [9]:
# create the transformed version of the scaled training X features
scaledXTrain = scaler.transform(XTrain)
scaledXTest = scaler.transform(XTest)

If L2 Regression is to be used (Ridge Regression)

In [10]:
# create the Ridge regression instance
ridgeModel = Ridge(alpha=100)

# fit the ridge model to the scaled train features and the training label
ridgeModel.fit(scaledXTrain, yTrain)

# predict on the scaled test data
testPredictions = ridgeModel.predict(scaledXTest)

In [11]:
testPredictions

array([15.34908128, 17.05755308, 12.73784965, 16.18231062, 10.85075815,
        9.87999576, 17.6105132 , 15.80786278, 11.32616781, 17.30158479,
       12.8883864 , 13.64670913, 13.71636726, 18.83377117, 17.38617584,
       11.59912699, 14.88899736, 10.07145317, 10.14692243, 17.90771073,
       10.25837266, 16.71492563, 20.57087744, 19.66643199, 10.14020781,
       13.40084066, 18.09910709, 10.80433113, 13.00876939, 13.79206361,
       12.73015096, 17.42108555, 11.50183684, 10.10362749, 16.18778637,
       10.45161746, 11.25953403, 10.42658319, 12.30681396, 11.82281519,
       14.75707677, 11.58372535, 12.01609545, 10.90016204, 12.55896716,
       11.62961585, 10.8495293 , 15.74187916, 14.09264772, 18.45114683,
       13.43419788, 14.05075373, 16.0980788 , 12.07046074, 13.15048011,
        8.75095421, 19.21013193, 12.92686996, 16.49277745, 14.83525505])

In [12]:
ridgeModel.coef_

array([2.22254275, 1.61969192, 0.31224357])

In [13]:
# Evalaute the error metrics
MAE = mean_absolute_error(yTest, testPredictions)
MSE = mean_squared_error(yTest, testPredictions)
RMSE = root_mean_square_error(y_test=yTest, model_predictions=testPredictions)

In [14]:
MAE

2.1631741364394355

In [15]:
MSE

7.341775789034128

In [16]:
RMSE

2.7095711448556075

Is alpha = 100 the best possible value? we have to check for another alpha value
This is know as test improvement doing hyperparameter tuning

In [17]:
# create the Ridge regression instance 2
ridgeModel2 = Ridge(alpha=1)

# fit the ridge model to the scaled train features and the training label
ridgeModel2.fit(scaledXTrain, yTrain)

# predict on the scaled test data
testPredictions2 = ridgeModel2.predict(scaledXTest)

In [18]:
testPredictions2

array([15.73544249, 19.56177685, 11.47282584, 16.99614361,  9.19583919,
        7.06034338, 20.24078477, 17.27047482,  9.7997058 , 19.18969381,
       12.40827613, 13.88321006, 13.72330625, 21.24960621, 18.41451801,
       10.00739858, 15.54023734,  7.72694272,  7.59886443, 20.3595504 ,
        7.831815  , 18.21607253, 24.61611392, 22.77116018,  8.0117733 ,
       12.667102  , 21.40567156,  8.10250725, 12.43158049, 12.53481984,
       10.81678067, 19.21537816, 10.09192883,  6.76998079, 17.29636618,
        7.81497124,  9.28808588,  8.31202002, 10.6122371 , 10.6533735 ,
       13.05491413,  9.80364168, 10.24764859,  8.09836046, 11.58209801,
       10.10783927,  9.025001  , 16.24936342, 13.26025422, 20.77690029,
       12.51477346, 13.96784546, 17.53696507, 11.15686875, 12.57233878,
        5.56009018, 23.21824128, 12.62301353, 18.72931877, 15.18197827])

In [19]:
ridgeModel2.coef_

array([3.73961770e+00, 2.74477719e+00, 2.68837098e-03])

In [20]:
# Evalaute the error metrics
MAE2 = mean_absolute_error(yTest, testPredictions2)
MSE2 = mean_squared_error(yTest, testPredictions2)
RMSE2 = root_mean_square_error(y_test=yTest, model_predictions=testPredictions2)

In [21]:
MAE2

1.216876844358058

In [22]:
MSE2

2.3190215794287523

In [23]:
RMSE2

1.5228334050147285

We can see that an alpha =1 performs well. But for large dataset, it would be tedioud creating new models and testing with
new alpha values to get the optimum alpha value. This is an advantage. That is where cross validation and grid search comes 
into play.

Secondly the evaluation report i.e the mean square error value is not the optimum we could possibly do for the model

CROSS VALIDATION (Train-Validation-Test Split)

In [24]:
# read the dataset
dfX = pd.read_csv('Advertising.csv')
dfX.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [27]:
# seperate X features and y label
Xx = dfX.drop("sales", axis=1)
yy = dfX["sales"]

In [28]:
# 3. Performing the train test split on poly features
#a. first train test split
X_train, X_other, y_train, y_other = train_test_split(Xx, yy, test_size=0.30, random_state=101)

#b. second train test split
X_val, X_test, y_val, y_test = train_test_split(X_other, y_other, test_size=0.50, random_state=101)

In [29]:
# scaling the data
# create an instance of a feature scaler
# Do not scale the test data
scaler2 = StandardScaler()

In [30]:
# fit the scaler to the training X feature
scaler2.fit(X_train)

StandardScaler()

In [31]:
# create the transformed version of the scaled training X features
scaled_X_train = scaler2.transform(X_train)
scaled_X_test = scaler2.transform(X_test)
scaled_X_val = scaler2.transform(X_val)

If L2 Regression is to be used (Ridge Regression)

In [32]:
# creating the first model
model_one = Ridge(alpha=100)

In [33]:
# fit first model on train data set
model_one.fit(scaled_X_train, y_train)

Ridge(alpha=100)

In [34]:
# predict on the scaled validation data
testPredictions3 = model_one.predict(scaled_X_val)

In [35]:
testPredictions3

array([16.0980788 , 10.8495293 ,  8.75095421, 14.83525505, 12.55896716,
       12.8883864 , 11.58372535, 12.01609545, 16.18778637, 10.90016204,
       11.32616781, 17.90771073, 14.09264772, 13.79206361, 13.71636726,
        9.87999576, 15.34908128, 13.00876939, 13.43419788, 10.85075815,
       14.75707677, 18.83377117, 17.30158479, 15.74187916, 16.49277745,
       19.66643199, 17.6105132 , 10.07145317, 13.64670913, 17.42108555])

In [40]:
# Evalaute the error metrics
MAE3 = mean_absolute_error(y_val, testPredictions3)
MSE3 = mean_squared_error(y_val, testPredictions3)
RMSE3 = root_mean_square_error(y_test=y_val, model_predictions=testPredictions3)

In [41]:
MAE3

2.175424374439987

In [42]:
MSE3

7.320101458823869

In [43]:
RMSE3

2.705568601758948

In [44]:
# creating the second model
model_two = Ridge(alpha=1)

In [45]:
# fit second model on train data set
model_two.fit(scaled_X_train, y_train)

Ridge(alpha=1)

In [46]:
# predict on the scaled validation data
testPredictions4 = model_two.predict(scaled_X_val)

In [47]:
testPredictions4

array([17.53696507,  9.025001  ,  5.56009018, 15.18197827, 11.58209801,
       12.40827613,  9.80364168, 10.24764859, 17.29636618,  8.09836046,
        9.7997058 , 20.3595504 , 13.26025422, 12.53481984, 13.72330625,
        7.06034338, 15.73544249, 12.43158049, 12.51477346,  9.19583919,
       13.05491413, 21.24960621, 19.18969381, 16.24936342, 18.72931877,
       22.77116018, 20.24078477,  7.72694272, 13.88321006, 19.21537816])

In [48]:
# Evalaute the error metrics
MAE4 = mean_absolute_error(y_val, testPredictions4)
MSE4 = mean_squared_error(y_val, testPredictions4)
RMSE4 = root_mean_square_error(y_test=y_val, model_predictions=testPredictions4)

In [49]:
MAE4

1.195143424023704

In [50]:
MSE4

2.383783075056987

In [51]:
RMSE4

1.5439504768796786

In [52]:
# Since we are happy with model two, we use it for our final test set
testPredictions5 = model_two.predict(scaled_X_test)

In [53]:
# Evalaute the error metrics
MAE5 = mean_absolute_error(y_test, testPredictions5)
MSE5 = mean_squared_error(y_test, testPredictions5)
RMSE5 = root_mean_square_error(y_test=y_test, model_predictions=testPredictions5)

In [54]:
MAE5

1.238610264692412

In [55]:
MSE5

2.2542600838005176

In [56]:
RMSE5

1.5014193564093004

In [ ]:
CROSS VALIDATION (K-Fold)

In [14]:
# read the dataset
dfXX = pd.read_csv('Advertising.csv')
dfXX.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [15]:
# seperate X features and y label
Xxx = dfXX.drop("sales", axis=1)
yyy = dfXX["sales"]

In [16]:
Xxx, yyy

(        TV  radio  newspaper
 0    230.1   37.8       69.2
 1     44.5   39.3       45.1
 2     17.2   45.9       69.3
 3    151.5   41.3       58.5
 4    180.8   10.8       58.4
 ..     ...    ...        ...
 195   38.2    3.7       13.8
 196   94.2    4.9        8.1
 197  177.0    9.3        6.4
 198  283.6   42.0       66.2
 199  232.1    8.6        8.7

 [200 rows x 3 columns],
 0      22.1
 1      10.4
 2       9.3
 3      18.5
 4      12.9
        ...
 195     7.6
 196     9.7
 197    12.8
 198    25.5
 199    13.4
 Name: sales, Length: 200, dtype: float64)

In [17]:
# perform a train test split of the new dataset
XxxTrain, XxxTest, yyyTrain, yyyTest = train_test_split(Xxx, yyy, test_size=0.3, random_state=101)

In [18]:
# scaling the data
# create an instance of a feature scaler
# Do not scale the test data
scaler5 = StandardScaler()

In [19]:
# fit the scaler to the training X feature
scaler5.fit(XxxTrain)

StandardScaler()

In [22]:
# create the transformed version of the scaled training X features
scaledXxxTrain = scaler5.transform(XxxTrain)
scaledXxxTest = scaler5.transform(XxxTest)

In [23]:
# creating the first model
model_five = Ridge(alpha=100)

In [24]:
# create the instance to find the best score
scores = cross_val_score(model_five,scaledXxxTrain,yyyTrain,scoring='neg_mean_squared_error',cv=5)

In [25]:
# N.B that the higher the negative score, the better
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [26]:
# check the absolute mean of scores for comparison with MSE
abs(scores.mean())

8.215396464543607

In [27]:
# the MSE is not so great, so we create another ridge model and change alpha
model_six = Ridge(alpha=1)

In [30]:
scores2 = cross_val_score(model_six,scaledXxxTrain,yyyTrain,scoring='neg_mean_squared_error',cv=5)

In [31]:
scores2

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [32]:
abs(scores2.mean())

3.344839296530696

In [39]:
# We are satisfied with model six, so now we fit it to the scaled x train and y train
model_six.fit(scaledXxxTrain, yyyTrain)

Ridge(alpha=1)

In [40]:
# predict on the scaled X test data
testPredictions6 = model_six.predict(scaledXxxTest)

In [41]:
testPredictions6

array([15.73544249, 19.56177685, 11.47282584, 16.99614361,  9.19583919,
        7.06034338, 20.24078477, 17.27047482,  9.7997058 , 19.18969381,
       12.40827613, 13.88321006, 13.72330625, 21.24960621, 18.41451801,
       10.00739858, 15.54023734,  7.72694272,  7.59886443, 20.3595504 ,
        7.831815  , 18.21607253, 24.61611392, 22.77116018,  8.0117733 ,
       12.667102  , 21.40567156,  8.10250725, 12.43158049, 12.53481984,
       10.81678067, 19.21537816, 10.09192883,  6.76998079, 17.29636618,
        7.81497124,  9.28808588,  8.31202002, 10.6122371 , 10.6533735 ,
       13.05491413,  9.80364168, 10.24764859,  8.09836046, 11.58209801,
       10.10783927,  9.025001  , 16.24936342, 13.26025422, 20.77690029,
       12.51477346, 13.96784546, 17.53696507, 11.15686875, 12.57233878,
        5.56009018, 23.21824128, 12.62301353, 18.72931877, 15.18197827])

In [42]:
model_six.coef_

array([3.73961770e+00, 2.74477719e+00, 2.68837098e-03])

In [43]:
# Evalaute the error metrics
MAE6 = mean_absolute_error(yyyTest, testPredictions6)
MSE6 = mean_squared_error(yyyTest, testPredictions6)
RMSE6 = root_mean_square_error(y_test=yyyTest, model_predictions=testPredictions6)

In [44]:
MAE6

1.216876844358058

In [45]:
MSE6

2.3190215794287523

In [46]:
RMSE6

1.5228334050147285

CROSS VALIDATION (K-Fold) using cross_validate function

In [64]:
# read the dataset
dataset = pd.read_csv('Advertising.csv')
dataset.head()

# seperate X features and y label
X_xx = dataset.drop("sales", axis=1)
y_yy = dataset["sales"]

# perform a train test split of the new dataset
X_xxTrain, X_xxTest, y_yyTrain, y_yyTest = train_test_split(X_xx, y_yy, test_size=0.3, random_state=101)

# scaling the data
# create an instance of a feature scaler
# Do not scale the test data
scaler8 = StandardScaler()

# fit the scaler to the training X feature
scaler8.fit(X_xxTrain)

# create the transformed version of the scaled training X features
scaledX_xxTrain = scaler8.transform(X_xxTrain)
scaledX_xxTest = scaler8.transform(X_xxTest)

In [65]:
X_xx

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [66]:
# creating the first model
model8 = Ridge(alpha=100)

In [70]:
# create the instance to find the best score
crossValidateScores = cross_validate(model8,scaledX_xxTrain,y_yyTrain,
                                     scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [71]:
crossValidateScores

{'fit_time': array([0.00299835, 0.00099969, 0.00100017, 0.00199938, 0.00199771,
        0.00100446, 0.00199699, 0.00099969, 0.00200176, 0.00099683]),
 'score_time': array([0.00099969, 0.00099969, 0.00099874, 0.        , 0.0010004 ,
        0.00199556, 0.0010035 , 0.00199866, 0.0009973 , 0.00100207]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [72]:
# convert the score dictionary to dataframe
crossValidateScores = pd.DataFrame(crossValidateScores)

In [73]:
crossValidateScores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002998,0.001000,-6.060671,-1.810212
1,0.001000,0.001000,-10.627031,-2.541958
2,0.001000,0.000999,-3.993426,-1.469594
3,0.001999,0.000000,-5.009494,-1.862769
4,0.001998,0.001000,-9.141800,-2.520697
5,0.001004,0.001996,-13.086256,-2.459995
6,0.001997,0.001004,-3.839405,-1.451971
7,0.001000,0.001999,-9.058786,-2.377395
8,0.002002,0.000997,-9.055457,-2.443344
9,0.000997,0.001002,-5.778882,-1.899797

In [74]:
crossValidateScores.mean()

fit_time                        0.001600
score_time                      0.001100
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [75]:
# repeat with a new model where alpha = 1
model9 = Ridge(alpha=1)

In [76]:
# create the instance to find the best score
crossValidateScores2 = cross_validate(model9,scaledX_xxTrain,y_yyTrain,
                                     scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [77]:
crossValidateScores2

{'fit_time': array([0.00199771, 0.00199986, 0.00200129, 0.00099516, 0.00099993,
        0.00099969, 0.00099993, 0.00100017, 0.00099993, 0.00099993]),
 'score_time': array([0.00199914, 0.00099826, 0.00100136, 0.00099969, 0.        ,
        0.00099874, 0.00099897, 0.0009985 , 0.        , 0.00099897]),
 'test_neg_mean_squared_error': array([-2.96250773, -3.05737833, -2.1737403 , -0.83303438, -3.46401792,
        -8.2326467 , -1.90586431, -2.76504844, -4.98950515, -2.84643818]),
 'test_neg_mean_absolute_error': array([-1.45717399, -1.5553078 , -1.23877012, -0.76893775, -1.43448944,
        -1.4943158 , -1.08136203, -1.25001123, -1.58097132, -1.22332553])}

In [78]:
crossValidateScores2 = pd.DataFrame(crossValidateScores2)

In [79]:
crossValidateScores2

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001998,0.001999,-2.962508,-1.457174
1,0.002000,0.000998,-3.057378,-1.555308
2,0.002001,0.001001,-2.173740,-1.238770
3,0.000995,0.001000,-0.833034,-0.768938
4,0.001000,0.000000,-3.464018,-1.434489
5,0.001000,0.000999,-8.232647,-1.494316
6,0.001000,0.000999,-1.905864,-1.081362
7,0.001000,0.000998,-2.765048,-1.250011
8,0.001000,0.000000,-4.989505,-1.580971
9,0.001000,0.000999,-2.846438,-1.223326

In [80]:
crossValidateScores2.mean()

fit_time                        0.001299
score_time                      0.000899
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [81]:
# We are satisfied with model9, so now we fit it to the scaled x train and y train
model9.fit(scaledX_xxTrain, y_yyTrain)

Ridge(alpha=1)

In [82]:
model9.coef_

array([3.73961770e+00, 2.74477719e+00, 2.68837098e-03])

In [83]:
# predict on the scaled X test data
testPredictions9 = model9.predict(scaledX_xxTest)

In [84]:
testPredictions9

array([15.73544249, 19.56177685, 11.47282584, 16.99614361,  9.19583919,
        7.06034338, 20.24078477, 17.27047482,  9.7997058 , 19.18969381,
       12.40827613, 13.88321006, 13.72330625, 21.24960621, 18.41451801,
       10.00739858, 15.54023734,  7.72694272,  7.59886443, 20.3595504 ,
        7.831815  , 18.21607253, 24.61611392, 22.77116018,  8.0117733 ,
       12.667102  , 21.40567156,  8.10250725, 12.43158049, 12.53481984,
       10.81678067, 19.21537816, 10.09192883,  6.76998079, 17.29636618,
        7.81497124,  9.28808588,  8.31202002, 10.6122371 , 10.6533735 ,
       13.05491413,  9.80364168, 10.24764859,  8.09836046, 11.58209801,
       10.10783927,  9.025001  , 16.24936342, 13.26025422, 20.77690029,
       12.51477346, 13.96784546, 17.53696507, 11.15686875, 12.57233878,
        5.56009018, 23.21824128, 12.62301353, 18.72931877, 15.18197827])

In [86]:
# Evalaute the error metrics
MAE9 = mean_absolute_error(y_yyTest, testPredictions9)
MSE9 = mean_squared_error(y_yyTest, testPredictions9)
RMSE9 = root_mean_square_error(y_test=y_yyTest, model_predictions=testPredictions9)

In [87]:
MAE9

1.216876844358058

In [88]:
MSE9

2.3190215794287523

In [89]:
RMSE9

1.5228334050147285

Grid Search

In [94]:
# using the same set up from above, we will create a model using elasticnet
baseElasticNetModel = ElasticNet()

In [95]:
# create a set of outcome for the elasticnet parameters we wish to play with. in this case alpha and l1_ratio
param_grid = {'alpha':[0.1,1,5,10,100], "l1_ratio":[0.1,0.5,0.7,0.95,0.99,1.00]}

In [96]:
# create the grid search model
gridModel = GridSearchCV(estimator=baseElasticNetModel,
                        param_grid=param_grid,
                        scoring='neg_mean_squared_error',
                        cv=5,
                        verbose=2)

In [97]:
# We fit it to the scaled x train and y train
gridModel.fit(scaledX_xxTrain, y_yyTrain)

Fitting 5 folds for each of 30 candidates, totalling 150 fits
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=0.1, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=0.1, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=1, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.95; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=5, l1_ratio=0.99; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=1.0; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=1.0; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.95; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=10, l1_ratio=0.99; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=1.0; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=1.0; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=1.0; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=1.0; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.95; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ...........................alpha=100, l1_ratio=0.99; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=1.0; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=1.0; total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.95, 0.99, 1.0]},
             scoring='neg_mean_squared_error', verbose=2)

In [98]:
# select the best estimator and paramaeter for the grid search
gridModel.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1.0)

In [99]:
gridModel.best_params_

{'alpha': 0.1, 'l1_ratio': 1.0}

In [100]:
# check all the results from model
allResults = gridModel.cv_results_

In [101]:
allResults

{'mean_fit_time': array([0.09840875, 0.00219889, 0.00199866, 0.00140123, 0.00139804,
        0.00099702, 0.00340652, 0.00120091, 0.00099554, 0.00099883,
        0.00120077, 0.00120192, 0.00139689, 0.00099573, 0.00119934,
        0.00119877, 0.00139928, 0.00219979, 0.00519643, 0.00100002,
        0.00119958, 0.00119867, 0.00100055, 0.00099921, 0.00099826,
        0.00099802, 0.00139856, 0.00060029, 0.0010006 , 0.00119934]),
 'std_fit_time': array([1.91821477e-01, 3.98423923e-04, 6.29695650e-04, 4.87798992e-04,
        4.89540298e-04, 2.40979743e-06, 4.32628564e-03, 3.99480671e-04,
        2.43140197e-07, 2.27486810e-06, 3.98469524e-04, 3.98373814e-04,
        4.91245199e-04, 8.47644274e-07, 3.99312148e-04, 7.47946329e-04,
        4.89785533e-04, 1.46962789e-03, 7.90300907e-03, 2.43140197e-07,
        3.99186146e-04, 4.00114898e-04, 1.90734863e-07, 1.31454933e-06,
        2.13248060e-07, 1.50789149e-07, 4.89979474e-04, 4.90135030e-04,
        4.86280395e-07, 4.00021207e-04]),
 'mean_score_time': array([0.00060072, 0.00100226, 0.00100126, 0.0003983 , 0.00039973,
        0.00080228, 0.00039954, 0.00099864, 0.00080242, 0.00060005,
        0.00059876, 0.        , 0.        , 0.00040112, 0.00020051,
        0.0006001 , 0.0006001 , 0.00099769, 0.00019999, 0.        ,
        0.00079899, 0.00079989, 0.00099821, 0.00020008, 0.00019994,
        0.0010006 , 0.00059991, 0.00099874, 0.0003994 , 0.00019956]),
 'std_score_time': array([4.90503002e-04, 3.44314732e-06, 2.87924369e-06, 4.87818433e-04,
        4.89578387e-04, 4.01139610e-04, 4.89343163e-04, 3.53824739e-06,
        4.01210813e-04, 7.99632718e-04, 4.88889249e-04, 0.00000000e+00,
        0.00000000e+00, 4.91264259e-04, 4.01020050e-04, 4.89981632e-04,
        4.89979312e-04, 1.99247193e-06, 3.99971008e-04, 0.00000000e+00,
        3.99495537e-04, 3.99948314e-04, 1.78416128e-07, 4.00161743e-04,
        3.99875641e-04, 9.53674316e-08, 4.89824072e-04, 8.52992240e-07,
        4.89162008e-04, 3.99112701e-04]),
 'param_alpha': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 1, 1, 1, 1, 1, 1, 5, 5,
                    5, 5, 5, 5, 10, 10, 10, 10, 10, 10, 100, 100, 100, 100,
                    100, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_l1_ratio': masked_array(data=[0.1, 0.5, 0.7, 0.95, 0.99, 1.0, 0.1, 0.5, 0.7, 0.95,
                    0.99, 1.0, 0.1, 0.5, 0.7, 0.95, 0.99, 1.0, 0.1, 0.5,
                    0.7, 0.95, 0.99, 1.0, 0.1, 0.5, 0.7, 0.95, 0.99, 1.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 0.1, 'l1_ratio': 0.1},
  {'alpha': 0.1, 'l1_ratio': 0.5},
  {'alpha': 0.1, 'l1_ratio': 0.7},
  {'alpha': 0.1, 'l1_ratio': 0.95},
  {'alpha': 0.1, 'l1_ratio': 0.99},
  {'alpha': 0.1, 'l1_ratio': 1.0},
  {'alpha': 1, 'l1_ratio': 0.1},
  {'alpha': 1, 'l1_ratio': 0.5},
  {'alpha': 1, 'l1_ratio': 0.7},
  {'alpha': 1, 'l1_ratio': 0.95},
  {'alpha': 1, 'l1_ratio': 0.99},
  {'alpha': 1, 'l1_ratio': 1.0},
  {'alpha': 5, 'l1_ratio': 0.1},
  {'alpha': 5, 'l1_ratio': 0.5},
  {'alpha': 5, 'l1_ratio': 0.7},
  {'alpha': 5, 'l1_ratio': 0.95},
  {'alpha': 5, 'l1_ratio': 0.99},
  {'alpha': 5, 'l1_ratio': 1.0},
  {'alpha': 10, 'l1_ratio': 0.1},
  {'alpha': 10, 'l1_ratio': 0.5},
  {'alpha': 10, 'l1_ratio': 0.7},
  {'alpha': 10, 'l1_ratio': 0.95},
  {'alpha': 10, 'l1_ratio': 0.99},
  {'alpha': 10, 'l1_ratio': 1.0},
  {'alpha': 100, 'l1_ratio': 0.1},
  {'alpha': 100, 'l1_ratio': 0.5},
  {'alpha': 100, 'l1_ratio': 0.7},
  {'alpha': 100, 'l1_ratio': 0.95},
  {'alpha': 100, 'l1_ratio': 0.99},
  {'alpha': 100, 'l1_ratio': 1.0}],
 'split0_test_score': array([ -3.45302084,  -3.32543978,  -3.26988015,  -3.21305234,
         -3.20812418,  -3.20694314,  -9.82747531,  -8.70707114,
         -7.92086988,  -6.72943525,  -6.52134437,  -6.46880733,
        -22.97926512, -27.79348798, -29.65550965, -31.13030692,
        -31.13030692, -31.13030692, -27.38534621, -31.13030692,
        -31.13030692, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692, -31.13030692, -31.13030692,
        -31.13030692, -31.13030692]),
 'split1_test_score': array([ -1.40519031,  -1.42752204,  -1.44243242,  -1.47241701,
         -1.47848929,  -1.48006527,  -5.26152539,  -4.2142284 ,
         -3.54956183,  -2.59128522,  -2.4313846 ,  -2.39148256,
        -15.54710357, -18.60226868, -21.08505942, -22.5494332 ,
        -22.5494332 , -22.5494332 , -19.15953413, -22.5494332 ,
        -22.5494332 , -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 , -22.5494332 , -22.5494332 ,
        -22.5494332 , -22.5494332 ]),
 'split2_test_score': array([ -5.78912486,  -5.59560964,  -5.50243731,  -5.39625768,
         -5.38024154,  -5.3762568 , -11.87534671, -10.87926082,
        -10.02487666,  -8.7098418 ,  -8.47108601,  -8.410171  ,
        -23.66824886, -27.1078486 , -29.62947804, -31.15520408,
        -31.15520408, -31.15520408, -27.63546439, -31.15520408,
        -31.15520408, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408, -31.15520408, -31.15520408,
        -31.15520408, -31.15520408]),
 'split3_test_score': array([ -2.18730248,  -2.16308873,  -2.16395003,  -2.17745178,
         -2.18109704,  -2.18207608,  -7.44919523,  -6.20454503,
         -5.37955333,  -4.15631737,  -3.9463265 ,  -3.8935656 ,
        -19.92106289, -23.94522746, -26.72459503, -27.96344707,
        -27.96344707, -27.96344707, -24.15410359, -27.96344707,
        -27.96344707, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707, -27.96344707, -27.96344707,
        -27.96344707, -27.96344707]),
 'split4_test_score': array([ -4.64557625,  -4.45167948,  -4.3567377 ,  -4.24107995,
         -4.22296809,  -4.2184595 ,  -8.54232854,  -7.17303106,
         -6.3248362 ,  -5.32991608,  -5.15134446,  -5.10592176,
        -16.26273734, -18.06463498, -20.22365404, -21.69819196,
        -21.69819196, -21.69819196, -18.96816086, -21.69819196,
        -21.69819196, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196, -21.69819196, -21.69819196,
        -21.69819196, -21.69819196]),
 'mean_test_score': array([ -3.49604295,  -3.39266793,  -3.34708752,  -3.30005175,
         -3.29418403,  -3.29276016,  -8.59117424,  -7.43562729,
         -6.63993958,  -5.50335914,  -5.30429719,  -5.25398965,
        -19.67568356, -23.10269354, -25.46365924, -26.89931665,
        -26.89931665, -26.89931665, -23.46052183, -26.89931665,
        -26.89931665, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665, -26.89931665, -26.89931665,
        -26.89931665, -26.89931665]),
 'std_test_score': array([1.591601  , 1.50682717, 1.46276536, 1.40624761, 1.39695326,
        1.39461278, 2.22293916, 2.25553153, 2.20621303, 2.10283486,
        2.07994524, 2.07383159, 3.33490073, 4.10829748, 4.07787705,
        4.07723961, 4.07723961, 4.07723961, 3.79460801, 4.07723961,
        4.07723961, 4.07723961, 4.07723961, 4.07723961, 4.07723961,
        4.07723961, 4.07723961, 4.07723961, 4.07723961, 4.07723961]),
 'rank_test_score': array([ 6,  5,  4,  3,  2,  1, 12, 11, 10,  9,  8,  7, 13, 14, 16, 17, 17,
        17, 15, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17])}

In [102]:
allResults = pd.DataFrame(allResults)

In [103]:
allResults

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.098409,1.918215e-01,0.000601,4.905030e-04,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,6
1,0.002199,3.984239e-04,0.001002,3.443147e-06,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,5
2,0.001999,6.296956e-04,0.001001,2.879244e-06,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,4
3,0.001401,4.877990e-04,0.000398,4.878184e-04,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3
4,0.001398,4.895403e-04,0.000400,4.895784e-04,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",-3.208124,-1.478489,-5.380242,-2.181097,-4.222968,-3.294184,1.396953,2
5,0.000997,2.409797e-06,0.000802,4.011396e-04,0.1,1.0,"{'alpha': 0.1, 'l1_ratio': 1.0}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1
6,0.003407,4.326286e-03,0.000400,4.893432e-04,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-9.827475,-5.261525,-11.875347,-7.449195,-8.542329,-8.591174,2.222939,12
7,0.001201,3.994807e-04,0.000999,3.538247e-06,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",-8.707071,-4.214228,-10.879261,-6.204545,-7.173031,-7.435627,2.255532,11
8,0.000996,2.431402e-07,0.000802,4.012108e-04,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",-7.920870,-3.549562,-10.024877,-5.379553,-6.324836,-6.639940,2.206213,10
9,0.000999,2.274868e-06,0.000600,7.996327e-04,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",-6.729435,-2.591285,-8.709842,-4.156317,-5.329916,-5.503359,2.102835,9
10,0.001201,3.984695e-04,0.000599,4.888892e-04,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",-6.521344,-2.431385,-8.471086,-3.946327,-5.151344,-5.304297,2.079945,8
11,0.001202,3.983738e-04,0.000000,0.000000e+00,1,1.0,"{'alpha': 1, 'l1_ratio': 1.0}",-6.468807,-2.391483,-8.410171,-3.893566,-5.105922,-5.253990,2.073832,7
12,0.001397,4.912452e-04,0.000000,0.000000e+00,5,0.1,"{'alpha': 5, 'l1_ratio': 0.1}",-22.979265,-15.547104,-23.668249,-19.921063,-16.262737,-19.675684,3.334901,13
13,0.000996,8.476443e-07,0.000401,4.912643e-04,5,0.5,"{'alpha': 5, 'l1_ratio': 0.5}",-27.793488,-18.602269,-27.107849,-23.945227,-18.064635,-23.102694,4.108297,14
14,0.001199,3.993121e-04,0.000201,4.010201e-04,5,0.7,"{'alpha': 5, 'l1_ratio': 0.7}",-29.655510,-21.085059,-29.629478,-26.724595,-20.223654,-25.463659,4.077877,16
15,0.001199,7.479463e-04,0.000600,4.899816e-04,5,0.95,"{'alpha': 5, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
16,0.001399,4.897855e-04,0.000600,4.899793e-04,5,0.99,"{'alpha': 5, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
17,0.002200,1.469628e-03,0.000998,1.992472e-06,5,1.0,"{'alpha': 5, 'l1_ratio': 1.0}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
18,0.005196,7.903009e-03,0.000200,3.999710e-04,10,0.1,"{'alpha': 10, 'l1_ratio': 0.1}",-27.385346,-19.159534,-27.635464,-24.154104,-18.968161,-23.460522,3.794608,15
19,0.001000,2.431402e-07,0.000000,0.000000e+00,10,0.5,"{'alpha': 10, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
20,0.001200,3.991861e-04,0.000799,3.994955e-04,10,0.7,"{'alpha': 10, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
21,0.001199,4.001149e-04,0.000800,3.999483e-04,10,0.95,"{'alpha': 10, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
22,0.001001,1.907349e-07,0.000998,1.784161e-07,10,0.99,"{'alpha': 10, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
23,0.000999,1.314549e-06,0.000200,4.001617e-04,10,1.0,"{'alpha': 10, 'l1_ratio': 1.0}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
24,0.000998,2.132481e-07,0.000200,3.998756e-04,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
25,0.000998,1.507891e-07,0.001001,9.536743e-08,100,0.5,"{'alpha': 100, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
26,0.001399,4.899795e-04,0.000600,4.898241e-04,100,0.7,"{'alpha': 100, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
27,0.000600,4.901350e-04,0.000999,8.529922e-07,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
28,0.001001,4.862804e-07,0.000399,4.891620e-04,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
29,0.001199,4.000212e-04,0.000200,3.991127e-04,100,1.0,"{'alpha': 100, 'l1_ratio': 1.0}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17

In [105]:
# if we are satisfied with the model, we just predict directly X test dataset
# predict on the scaled X test data
gridModelPredictions = gridModel.predict(scaledX_xxTest)

In [106]:
gridModelPredictions

array([15.66368907, 19.46408313, 11.5334467 , 16.90361792,  9.28986377,
        7.20512596, 20.12630114, 17.21717961,  9.92059194, 19.08401429,
       12.41632064, 13.90812112, 13.77020299, 21.0764028 , 18.3144613 ,
       10.08244137, 15.55332779,  7.8863488 ,  7.74187755, 20.22579399,
        7.95632931, 18.1169614 , 24.38514439, 22.58250106,  8.15339222,
       12.73095252, 21.27373859,  8.23268934, 12.49004679, 12.52397252,
       10.85578463, 19.10783619, 10.20239152,  6.91681664, 17.22447596,
        7.96982919,  9.39929572,  8.45480843, 10.65442906, 10.75772226,
       13.04497384,  9.92194633, 10.33480469,  8.21121593, 11.62693221,
       10.19036614,  9.11221   , 16.22496113, 13.29734786, 20.61601005,
       12.51850026, 14.00017552, 17.50249596, 11.23188839, 12.64040529,
        5.74152682, 23.02575646, 12.62656713, 18.65905383, 15.16774331])

In [107]:
# Evalaute the error metrics
MAE10 = mean_absolute_error(y_yyTest, gridModelPredictions)
MSE10 = mean_squared_error(y_yyTest, gridModelPredictions)
RMSE10 = root_mean_square_error(y_test=y_yyTest, model_predictions=gridModelPredictions)

In [108]:
MAE10

1.222908565262289

In [109]:
MSE10

2.387342642087475

In [110]:
RMSE10

1.5451027933724912