**CREATING A BAG OF WORDS MODEL FOR COUNT VECTORIZATION**

In [49]:
# importing relevant libraries
import pandas as pd

Reading the text from the file path

In [27]:
with open('One.txt') as mytext:
    words_one = mytext.readlines()

In [28]:
words_one

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [29]:
with open('Two.txt') as mytext:
    words_two = mytext.readlines()

In [30]:
words_two

['This story is about surfing\n',
 'Catching waves is fun\n',
 'Surfing is a popular water sport\n']

**OR**

In [31]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()

In [32]:
words_one

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [33]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()

In [34]:
words_two

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

**BUILD OUT A VOCABULARY**

In [35]:
# Obtaining the unique words from each documents
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    unique_words_one = set(words_one)
    
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    unique_words_two = set(words_two)

In [36]:
unique_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [37]:
unique_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [38]:
# obtain the unique words from all documents
all_unique_words = set()
all_unique_words.update(unique_words_one)
all_unique_words.update(unique_words_two)

In [39]:
all_unique_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [40]:
# Assign a number to all the unique words
full_vocabulary = dict()
i=0

for word in all_unique_words:
    full_vocabulary[word] = i
    i += 1

In [41]:
full_vocabulary

{'fun': 0,
 'is': 1,
 'canine': 2,
 'water': 3,
 'waves': 4,
 'a': 5,
 'furry': 6,
 'popular': 7,
 'catching': 8,
 'about': 9,
 'surfing': 10,
 'our': 11,
 'story': 12,
 'dogs': 13,
 'this': 14,
 'sport': 15,
 'animals': 16,
 'are': 17,
 'pets': 18}

In [50]:
# create the bag of words dictionary

first_doc_freq = [0]*len(full_vocabulary)
second_doc_freq = [0]*len(full_vocabulary)
all_words = ['']*len(full_vocabulary)


with open('One.txt') as file:
    file_one = file.read().lower().split()
    
with open('Two.txt') as file:
    file_two = file.read().lower().split()
    
for word in file_one:
    word_index = full_vocabulary[word]
    first_doc_freq[word_index] += 1
    
for word in file_two:
    word_index = full_vocabulary[word]
    second_doc_freq[word_index] += 1
    
for word in full_vocabulary:
    word_index = full_vocabulary[word]
    all_words[word_index] = word

In [51]:
first_doc_freq

[0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 2, 1, 0, 1, 1, 1]

In [52]:
second_doc_freq

[1, 3, 0, 1, 1, 1, 0, 1, 1, 1, 2, 0, 1, 0, 1, 1, 0, 0, 0]

In [53]:
all_words

['fun',
 'is',
 'canine',
 'water',
 'waves',
 'a',
 'furry',
 'popular',
 'catching',
 'about',
 'surfing',
 'our',
 'story',
 'dogs',
 'this',
 'sport',
 'animals',
 'are',
 'pets']

In [55]:
Bag_of_Words = pd.DataFrame(data=[first_doc_freq,second_doc_freq], columns=all_words)

In [56]:
Bag_of_Words

,fun,is,canine,water,waves,a,furry,popular,catching,about,surfing,our,story,dogs,this,sport,animals,are,pets
0,0,1,1,0,0,1,1,0,0,1,0,1,1,2,1,0,1,1,1
1,1,3,0,1,1,1,0,1,1,1,2,0,1,0,1,1,0,0,0